name: Smoke test
on: [push, pull_request]
jobs:
  ubuntu:
    strategy:
      matrix:
          version: ['8.1', '8.2', '8.3', '8.4', '8.5']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PhD
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{matrix.version}}

      - name: List packages and formats
        run: php render.php --list
